<header>

    <nav>

        <div class="header-container">

            <div class="logo-container"> 
                
                <a routerLink="" class="item-header">EventoTroller</a>
                 
                <div class="search-bar">

                    <div class="submit-line">
                        <input type="text" />
                        <button class="submit-lente" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>

                </div>

            </div>

            <div class="item-container" >

           
                <a routerLink="/anucie" class="item-header"> Anuncie seu evento</a>
                <a routerLink="/login" class="item-header"> Login</a>
                <button routerLink="/cadastrar" class="item-header">Cadastrar-se</button>
                
            </div>
            

            <div class="sanduiche-container"> 
                <i class="fa-solid fa-bars"></i>
            </div>

        </div>

    </nav>

</header>